/* Footer */
.footer {
  display: flex;
  flex-direction: column; /* Stack sections vertically */
  background-color: #4B6488; /* Blue background */
  color: white;
 padding-top: 0px;
 padding-bottom: 0px;
 text-align: center;
}

.gold-section {
  background-color: #2D3B51; /* Gold background */
  display: flex;
  justify-content: flex-end; /* Align content to the right */
  padding: 10px; /* Add padding for spacing */
}


.github-logo {
  width: 30px;
  height: 30px;
}

.logo-section {
  display: flex;
  justify-content: right; /* Align content to the center */
  padding: 10px; /* Add padding for spacing */
}

/* Style for the copyright text */
.copyright {
  font-size: 14px;
  text-align: center;
}
