/* Base styles for the home page */
.home-page {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: auto;
  margin-left: 10px;
  margin-right: 10px;
}

.left-content {
  display: flex;
  flex: 1;
  padding: 10px;
  margin-top: 100px;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  margin-top: 100px;
  width: 100%;
  margin-left: 20px;
}

.grid-item {
  min-width: 260px;
  min-height: 260px;
  background-color: #b56464;
  border-radius: 5px;
  margin-bottom: 20px;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-item img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Larger screens */
@media (min-width: 768px) {
  .home-page {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .left-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
  }

  .grid-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 0;
    width: calc(70% - 20px);
  }

  .grid-item {
    margin-bottom: 0;
  }

  .right-content {
    margin-left: 20px;
    margin-right: 20px;
    width: 30%;
    margin-top: 100px;
    margin-right: 20px;
  }
}
/* Tablet screens */
@media (max-width: 1024px) {
  .home-page {
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
  }

  .left-content {
    margin-top: 20px;
  }

  .right-content {
    width: 100%;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 20px; /* Add margin to the right side */
    margin-bottom: 100px;
  }
}

/* Smaller screens */
@media (max-width: 767px) {
  .right-content {
    margin-top: 0;
    margin-left: 20px;
    margin-right: 40px;
    width: 100%;
    margin-top: 100px;
  }

  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
