/* Assuming you have a CSS file named Home.css */

.layout-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.left-half {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin-left: 30px;
  margin-top: 70px;
}

.box {
  width: 200px;
  height: 200px;
  background-color: #B56464;
  border: 10px solid rgb(217, 217, 217);
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
}


.chart {
  margin-top: 10px;
}

.right-half {
  flex: 1;
}



