/* Home Page */
.home-page {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 70px;
  padding: 20px 20px;
}

.left-content {
  flex: 1;
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* Three columns */
  gap: 20px;
}

.grid-item {
  background-color: #B56464;
  width: 239px;
  height: 239px;
  text-align: center;
  color: white;
  border-radius: 8px;
  border: 10px solid #D9D9D9;
  /* Border with gold color */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.right-content {
  flex: 1;
  margin-left: 20px;
}

.card {
  width: 388px;
  height: 456px;
  border-radius: 16px;
  background: #7D8B9F;
  margin: 20px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.card h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.card p {
  font-size: 16px;
  margin-bottom: 10px;
}
