/* Navbar */
.navbar {
  width: 100%;
  height: 156px;
  display: flex;
  align-items: center;
  background-image: url('https://github.com/jagadekmeesala/KHub_Practice_React_app/blob/main/docs/images/UI-mock-up.png?raw=true');
  position: fixed;
  top: 0;
  z-index: 100;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
}

.brand {
  font-size: 28px;
  font-weight: bold;
  color: #fff;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 22px;
}