/* Footer */
.footer {
  display: flex;
  flex-direction: column;
  background-color: #4B6488; /* Blue background */
  color: white;
  padding: 0px 0;
  text-align: center;
}

.gold-section {
  background-color: #2D3B51; /* Gold background */
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between; /* Align content to the right and left */
  align-items: center; /* Center vertically */
  padding: 10px; /* Add padding for spacing */
}

.github-logo {
  width: 30px;
  height: 30px;
}

.logo-section {
  display: flex;
  align-items: center; /* Center vertically */
  margin-left: auto; /* Push the logo to the right */
  padding: 10px; /* Add padding for spacing */
}

/* Style for the copyright text */
.copy-right {
  font-size: 14px;
  margin: 0 auto; /* Center the text horizontally */
}
