/* Footer */
.footer {
  background-color: #4B6488; /* Blue background */
  color: white;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: revert;
  height: 70px;
}

.gold-section {
  background-color: #2D3B51;
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
}
.github-logo {
  width: 30px;
  height: 30px;
}

.logo-section {
  display: flex;
  flex-direction: row-reverse;
  align-items: center; /* Center vertically */
  margin-left: auto; /* Push the logo to the right */
}

/* Style for the copyright text */
.copy-right {
  font-size: 14px;
  margin: 0 auto; /* Center the text horizontally */
}
