/* Reset default margin and padding */
body, h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  margin: 0;
  padding: 0;
  background-image: url('https://github.com/jagadekmeesala/KHub_Practice_React_app/blob/main/docs/images/UI-mock-up.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Home */
.home-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
}

.image-container img {
  max-width: 50%;
  height: auto;
}

.content {
  flex: 1;
  padding: 20px;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  margin-bottom: 20px;
}

.cta-button {
  background-color: #ff6600;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

/* Footer */
.footer {
  background-color: #333;
  color: white;
  padding: 20px 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

p {
  font-size: 14px;
}

.social-icons {
  display: flex;
  align-items: center;
}

.social-icons a {
  margin-right: 15px;
  text-decoration: none;
}

.social-icons img {
  width: 30px;
  height: 30px;
}
